* {
  scroll-behavior: smooth;
}

.navbar-brand {
  color: white;
}

header {
  background-color: #ad2a37;
  height: 5.5rem;
}
.navbar-brand{
    font-size: 2.5rem;
    margin-right: auto;
    margin-left: 3rem;
}


#searchForm {
    margin-left: auto;
    margin-right: 3rem;
}

.footer {
  background-color: #ad2a37;

  position: sticky;
  bottom: 0;
  height: 5.5rem;

  bottom: 0;
}

.footer-text {
  font-size: 1.2rem;
  color: black;
}

.mailto{
    color: white;
    text-decoration: none;
}

/* OBSERVER */

.hidden{
    opacity: 0;
    filter: blur(50px);
    transform: translateX(-100%);
    transition:all 2s;

}
.show{
opacity: 1;
filter: blur(0);
transform: translateX(0);
}