*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header,footer {
    background-color: #ad2a37;
}

header{
    font-size: 2.5rem;
}

.post-title{
    font-size: 1.25rem;
}

.post-body{
    font-size: 1rem;
}

footer{
    font-size: 1.2rem;
}

footer a{
    text-decoration: none;  
}


/* 
Recuperare i post dal servizio https://jsonplaceholder.typicode.com/posts e mostrare ogni  
elemento della lista come card bootstrap con titolo e body; 
• Il titolo in grassetto (1.25rem;) nero Post[title]; 
• Il paragrafo (1rem) Post[body]; 
• Al click sul quadrato, andare su un’altra pagina in cui è presente il dettaglio del post, leggendo il 
dettaglio dal servizio https://jsonplaceholder.typicode.com/posts/:id; 
• Infine aggiungere un bottone nella pagina di dettaglio, per tornare alla home; 
• Creazione Header con colore #ad2a37 e testo bianco (2.5rem) 
• Creazione Footer con colore #ad2a37 e testo nero (1.2rem); 
• Link in footer che apre direttamente il client presente sul pc per inviare mail. Testo bianco 
(1.2rem) */